<%- include('partials/header') %>

<div class="card bg-light mt-5">
  <h2 class="card-header">Manage Global Settings</h2>
  <div class="card-body">
    <form class="py-3">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">

      <!-- Site Title -->
      <div class="form-group row py-3">
        <label for="site-title" class="col-2 col-form-label">Site Name</label>
        <div class="col-6">
          <input type="text" class="form-control" id="site-title" name="site-title" aria-describedby="siteTitleHelp" placeholder="<%= site.title %>">
        </div>
        <div class="col-4">
          <small id="siteTitleHelp" class="form-text text-muted mt-0">Shows up in the tab, in Google searches, and in various places in your active theme.</small>
        </div>
      </div>
      <!-- Backend URL -->
      <div class="form-group row pt-1 pb-3">
        <label for="backend-url" class="col-2 col-form-label">Site Title</label>
        <div class="col-6">
          <input type="text" class="form-control" id="backend-title" name="site-title" aria-describedby="siteBackendUrlHelp" placeholder="<%= site.title %>">
        </div>
        <div class="col-4">
          <small id="siteBackendUrlHelp" class="form-text text-muted mt-0">The base URL for this admin site to reside under (usually '/admin' or '/backend').</small>
        </div>
      </div>
    </form>

    <hr>
    <div class="d-flex justify-content-between align-items-center">
      <p class="text-info mb-0"><strong>Note:</strong> Anything unmodified in this form will remain unmodified on your site.</p>
      <div>
        <a href="#" role="button" id="btnSubmit" class="btn btn-primary">Update</a>
        <a href="#" role="button" id="btnCancel" class="btn btn-secondary btn-sm">Cancel</a>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
